<div class="game-show {{currentClass}}">
    <style>
        #remark {
            box-shadow: 10px 10px 5px #888888;
        }

        .delete-form {
            display: none;
        }

        .game-show.is-author .delete-form {
            display: block;
        }

        #save-button {
          margin-top: 10px;
        }


    </style>

    <div><a href="/">Back to Home</a></div>

    <h1>
        <legend>
            <h1>
                <b>{{game.title}}</b>
            </h1>
        </legend>
    </h1>

    <p>
      <button type="submit" class="btn btn-default">Add to Favorite</button>
    </p>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <!-- <h3>{{game.console}}</h3> -->
            <h3> <b>Description</b> <h5>{{game.description}}</h5></h3>
            <h3> <b>Submitter's Score - </b> {{game.rating}}</h3>
            <p>Submitted by {{game.author.username}}</p>
            <div class="w3-container" id="remark">
                <p> <b>Submitter's Review:</b> {{game.remark}}</p>
            </div>
        </div>
    </div>


    <form method="POST" action="/games/{{game._id}}?_method=DELETE">
        <p class="delete-form"><button type="submit" class="btn btn-danger">Delete</button></p>
    </form>


    <form action="/games/{{game._id}}/comments" method="POST">
        <textarea class='form-control' name="content" placeholder="Comment"></textarea>
        <div class="text-right" id="save-button">
          <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Save</button>
        </div>
    </form>

    <h2>Comments</h2>

    {{#each game.comments}}
        <li class="list-group-item">
          <p> > {{this.content}}</p>
        </li>
    {{/each}}
</div>
